<?xml version="1.0" encoding="utf-8"?>

<beans>
    <bean class="org.stars.spring.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:token.properties"/>
    </bean>

    <bean id="userService" class="org.stars.spring.aop.annotation.UserServiceAnnotation">
        <property name="token" value="${token}"/>
    </bean>

</beans>
